<div class="grid-container">
    <section class="card" [ngClass]="{ 'dark-card-bg': darkModeIsOn }">
        <div class="fb-line-above"></div>
        <div class="flex margin-bottom-10px">
            <img
                src="../../assets/images/icon-facebook.svg"
                alt="facebook-icon"
            />
            <div class="card-title" [ngClass]="{ 'dark-text1': darkModeIsOn }">
                @nathanf
            </div>
        </div>
        <div class="number" [ngClass]="{ 'dark-text2': darkModeIsOn }">
            1987
        </div>
        <div class="followers" [ngClass]="{ 'dark-text1': darkModeIsOn }">
            FOLLOWERS
        </div>
        <div class="flex today">
            <img src="../../assets/images/icon-up.svg" alt="icon-up" />
            <div class="">12 Today</div>
        </div>
    </section>
    <!-- twitter -->
    <section class="card" [ngClass]="{ 'dark-card-bg': darkModeIsOn }">
        <div class="tw-line-above"></div>
        <div class="flex margin-bottom-10px">
            <img
                src="../../assets/images/icon-twitter.svg"
                alt="twitter-icon"
            />
            <div class="card-title" [ngClass]="{ 'dark-text1': darkModeIsOn }">
                @nathanf
            </div>
        </div>
        <div class="number" [ngClass]="{ 'dark-text2': darkModeIsOn }">11k</div>
        <div class="followers" [ngClass]="{ 'dark-text1': darkModeIsOn }">
            FOLLOWERS
        </div>
        <div class="flex today">
            <img src="../../assets/images/icon-up.svg" alt="icon-up" />
            <div class="">1099 Today</div>
        </div>
    </section>
    <!-- insta -->
    <section class="card" [ngClass]="{ 'dark-card-bg': darkModeIsOn }">
        <div class="ig-line-above"></div>
        <div class="flex margin-bottom-10px">
            <img
                src="../../assets/images/icon-instagram.svg"
                alt="instagram-icon"
            />
            <div class="card-title" [ngClass]="{ 'dark-text1': darkModeIsOn }">
                @realnathanf
            </div>
        </div>
        <div class="number" [ngClass]="{ 'dark-text2': darkModeIsOn }">
            1987
        </div>
        <div class="followers" [ngClass]="{ 'dark-text1': darkModeIsOn }">
            FOLLOWERS
        </div>
        <div class="flex today">
            <img src="../../assets/images/icon-up.svg" alt="icon-up" />
            <div class="">12 Today</div>
        </div>
    </section>
    <!-- youtube -->
    <section class="card" [ngClass]="{ 'dark-card-bg': darkModeIsOn }">
        <div class="yb-line-above"></div>
        <div class="flex margin-bottom-10px">
            <img
                src="../../assets/images/icon-youtube.svg"
                alt="youtube-icon"
            />
            <div class="card-title" [ngClass]="{ 'dark-text1': darkModeIsOn }">
                Nathan F.
            </div>
        </div>
        <div class="number" [ngClass]="{ 'dark-text2': darkModeIsOn }">
            8239
        </div>
        <div class="followers" [ngClass]="{ 'dark-text1': darkModeIsOn }">
            Subscribers
        </div>
        <div class="flex today">
            <img src="../../assets/images/icon-down.svg" alt="icon-down" />
            <div class="color-red">144 Today</div>
        </div>
    </section>
</div>
