@use "../../shared/shared.scss" as *;
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 10px;
    background-color: $light-bg;
    &.dark {
        @extend .dark;
    }
}
@media screen and (min-width: 500px) {
    .container {
        width: 500px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
}
