<header class="header">
    <div>
        <h2 class="title" [ngClass]="{ 'dark-text2': darkModeIsOn }">
            Social Media Dashboard
        </h2>
        <span
            class="gray-span underline"
            [ngClass]="{ 'dark-text1': darkModeIsOn }"
            >Total Followers:23,004</span
        >
    </div>
    <div class="toggle-cont">
        <span class="gray-span" [ngClass]="{ 'dark-text1': darkModeIsOn }"
            >Dark Mode</span
        >
        <app-checkbox></app-checkbox>
    </div>
</header>
